.music {
    width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: rgb(223, 212, 253);
}

.musicHeaderContainer {
    height: 6vw;
    padding-top: 10vh;
    padding-left: 10vw;
    position: fixed;
}

.musicHeader { 
    font-family: "Gotham";
    font-weight: bolder;
    font-size: 4vw;
    color: white;
    opacity: 1;
    position: fixed;
}

.songContainer {
    margin-top: 50vh;
    padding-left: 10vw;
}

.thing {
    height: 20vh;
    width: 95vw;
}
