.songContainer {
    text-decoration: none;
    //phones
    @media only screen and (max-width: 700px) {
        margin-top: 1vh;
        padding: 0;
        width: auto;
        z-index: 4;
    }
}

.song {
    //phones
    @media only screen and (max-width: 700px) {
        background-color: rgb(117, 37, 245);
        width: 20vw;
        height: 20vw;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 4;
    }
    //laptop
    @media only screen and (min-width: 700px) {
        background-color: rgb(117, 37, 245);
        width: 80vw;
        height: 8vh;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        z-index: 4;
        margin-top: 10px;
    }
}

.song:hover {
    background-color: rgb(81, 0, 211);
    cursor: pointer;
}

.albumArtContainer {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.albumArt {
    height: 90%;
}

.songTitleContainer {
    height: 100%;
    //phones
    @media only screen and (max-width: 700px) {
        width: 70%;


        overflow:overlay;
        line-height: 8vh;
        // padding-top: 4.35vh;
        // padding-bottom: 2vh;
        font-size: 2vh;
        font-family: "Gotham";
        font-weight: bold;
        color: white;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        z-index: 5;
        display: none;
    }
    //laptop
    @media only screen and (min-width: 700px) {
        max-width: 80%;


        padding-top: 4.5vh;
        padding-bottom: 1vh;
        font-size: 3vh;
        font-family: "Gotham";
        font-weight: bold;
        color: white;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

.songTitle {
    //phones
    @media only screen and (max-width: 700px) {
        padding-top: 4.35vh;
        padding-bottom: 2vh;
        font-size: 2vh;
        font-family: "Gotham";
        font-weight: bold;
        color: white;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        z-index: 5;
        // display: flex;
    }
    //laptop
    @media only screen and (min-width: 700px) {
        padding-top: 4.5vh;
        padding-bottom: 1vh;
        font-size: 3vh;
        font-family: "Gotham";
        font-weight: bold;
        color: white;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

.artistContainer {
    //phones
    @media only screen and (max-width: 700px) {
        // padding-top: 4.35vh;
        // font-size: 2vh;
        // font-family: "Gotham";
        // font-weight: normal;
        // color: white;
        // white-space: nowrap;
        // overflow-x: hidden;
        // text-overflow: ellipsis;
        // height: 100%;
        // flex: 1;
        display: none;
    }
    //laptop
    @media only screen and (min-width: 700px) {
        padding-top: 4.35vh;
        font-size: 2vh;
        font-family: "Gotham";
        font-weight: normal;
        color: white;
        height: 100%;
        flex: 1;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}