@keyframes more0 {
    0% {left:98.86%;   bottom:49.78%;}
    5% {left:100.00%;   bottom:81.52%;}
    11% {left:88.70%;   bottom:100.00%;}
    17% {left:71.35%;   bottom:98.00%;}
    22% {left:55.74%;   bottom:77.54%;}
    28% {left:47.44%;   bottom:48.82%;}
    34% {left:47.41%;   bottom:25.35%;}
    39% {left:51.90%;   bottom:17.56%;}
    45% {left:54.66%;   bottom:28.04%;}
    51% {left:50.39%;   bottom:50.36%;}
    57% {left:37.72%;   bottom:72.38%;}
    62% {left:20.26%;   bottom:82.05%;}
    68% {left:5.19%;   bottom:73.38%;}
    74% {left:0.00%;   bottom:49.37%;}
    79% {left:8.93%;   bottom:20.74%;}
    85% {left:30.74%;   bottom:0.99%;}
    91% {left:58.98%;   bottom:0.00%;}
    96% {left:84.48%;   bottom:19.35%;}
    100% {left:98.86%;   bottom:49.78%;}
 }

 @keyframes more1 {
    0% {left:49.94%;   bottom:0.00%;}
    3% {left:64.76%;   bottom:9.99%;}
    6% {left:78.25%;   bottom:19.88%;}
    9% {left:89.21%;   bottom:29.56%;}
    12% {left:96.67%;   bottom:38.96%;}
    15% {left:99.95%;   bottom:47.96%;}
    19% {left:98.76%;   bottom:56.49%;}
    22% {left:93.22%;   bottom:64.45%;}
    25% {left:83.80%;   bottom:71.77%;}
    28% {left:71.37%;   bottom:78.37%;}
    31% {left:57.02%;   bottom:84.18%;}
    35% {left:42.03%;   bottom:89.16%;}
    38% {left:27.76%;   bottom:93.24%;}
    41% {left:15.46%;   bottom:96.40%;}
    44% {left:6.25%;   bottom:98.59%;}
    47% {left:0.93%;   bottom:99.79%;}
    50% {left:0.00%;   bottom:100.00%;}
    54% {left:3.53%;   bottom:99.21%;}
    57% {left:11.20%;   bottom:97.43%;}
    60% {left:22.33%;   bottom:94.67%;}
    63% {left:35.93%;   bottom:90.97%;}
    66% {left:50.78%;   bottom:86.36%;}
    70% {left:65.56%;   bottom:80.88%;}
    73% {left:78.94%;   bottom:74.60%;}
    76% {left:89.73%;   bottom:67.58%;}
    79% {left:96.96%;   bottom:59.87%;}
    82% {left:100.00%;   bottom:51.57%;}
    85% {left:98.56%;   bottom:42.76%;}
    89% {left:92.78%;   bottom:33.51%;}
    92% {left:83.18%;   bottom:23.94%;}
    95% {left:70.60%;   bottom:14.12%;}
    98% {left:56.18%;   bottom:4.16%;}
    100% {left:49.94%;   bottom:0.00%;}
 }