.ibox {
    position: absolute;
    height: 60vh;
    width: 80vw;
    background-color: blue;
}

.blob {
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: 3;
    margin-top: 60vh;
}

.hobbyBlob {
    position: absolute;
    background-color: var(--hobby);
}

.interestBlob {
    background-color: var(--interest);
}

.moreBlob {
    background-color: var(--more);
}

