.ibox {
    //phones
    @media only screen and (max-width: 900px) {
        width: 70vw;
    }
    //laptop
    @media only screen and (min-width: 900px) {
        width: 80vw;
    }
    position: absolute;
    height: 60vh;
    width: 80vw;
    background-color: var(--about-box-color);
    border-radius: 15px;
}

.blob {
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    z-index: 3;
    margin-top: 60vh;
    font-family: "Roboto";
}

.blobText {
    //phones
    @media only screen and (max-width: 900px) {
        font-family: "Roboto";
        font-size: 2vh;
    }
    //laptops
    @media only screen and (min-width: 900px) {
        font-family: "Roboto";
        max-width: 10vh;
    }

}

.hobbyBlob {
    position: absolute;
    background-color: var(--hobby);
}

.interestBlob {
    background-color: var(--interest);
}

.moreBlob {
    background-color: var(--more);
}

