:root {
  --turquoise: #00FECA;
  --pink: #E847AE;
  --yellow: #FFFF66;
  --blue: #3CB9FC;
  --orange: #FF9472;
  --green: #9ACD32;
  --grey:rgb(85, 85, 85);
  --black:black;

  --color1: var(--turquoise);
  --color2: #E4FF00;
  --color3: #82FF00;
  --color4: #00A225;
  --color5: #73BDFF;
  --color6: #FF8BEB;
  --color7: #D4FF17;


  --hobby: #FF8BEB;
  --interest: #73BDFF;
  --more: #82FF00;

  --about-color: rgb(210, 232, 246);
  --about-box-color: rgb(244, 246, 210);

}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(fonts/Roboto-Bold.ttf) format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

